body {
	background-color: lightblue;
	font-family: barbie;
    font-size: 20px;
	}
	a:link	{
		text-decoration: none;
		color: green;
		text-decoration: underline;
		}
	a:visited {
		color: Red;
		}
	a:hover {
		font-weight: bold;
		}
	a:active{
		text-decoration:none;
		}
	@font-face{
	font-family: "barbie";
	src:url('barbie.woff') format('opentype');
		font-family: barbie;
		}
	.header, .footer{
			text-align: center;
              font-size: 80px;
			}
    td, tr{
             text-align: center;
             font-family: later;

             }
	th	{
	    text-align: center;
        font-size: 20px;
        font-family: "later";
	  	}
	@font-face{
		font-family: "later";
		src:url('later.ttf') format('opentype');
			font-family: later;
		}
	
	h2, h4 { 
        font-size: 20px;
		font-family: later;
		text-align: center;
		}
    h1,h3 { 
        font-size: 45px;
		font-family: later;
		text-align: center;
		}
	
	.colorr {
			background-color: #4c986d;
		}
    .fontt {
        font-family: later;
    }